/* src/pages/WomensDashboard.css */
.dashboard-container {
  width: 100%;
  padding: 20px;
  font-family: "Poppins", sans-serif;
}

.dashboard-container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.products-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
